<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">【<%=posts[0].name%>】<%=posts[0].title%></h3>
   </div>
   <div class="panel-body">
      <div><%-posts[0].post%></div>
      <%if(posts[0].needcode == 1){%>
        <button type="button" class="btn btn-primary btn-xs" onclick="window.open('/testcode');" style="margin-top:20px" >尝试一下</button>
      <%}%>
      <div class="share">分享到:</div>
      <div class="bdsharebuttonbox">
          <a href="#" class="bds_sqq" data-cmd="sqq"></a>
          <a href="#" class="bds_qzone" data-cmd="qzone"></a>
          <a href="#" class="bds_tsina" data-cmd="tsina"></a>
          <a href="#" class="bds_tqq" data-cmd="tqq"></a>
          <a href="#" class="bds_renren" data-cmd="renren"></a>
      </div>
      <p class="p-data">发布时间：<%=posts[0].created_at%></p>
      <button type="button" class="btn btn-primary btn-xs" style="margin-top:5px" onclick="history.go(-1)">返回上一页</button>
      <button type="button" class="btn btn-primary btn-xs" style="margin-top:5px" onclick="window.location='/mobile/home'">返回首页</button>
   </div>
</div>
<script>
  window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren"]}};
  with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
  $("title").html("<%=posts[0].title%>");
</script>
